{erl_opts, [debug_info]}.
{deps, [
        {cowboy, {git, "https://github.com/ninenines/cowboy.git", "HEAD"}},
        {jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
        {ecpool, {git, "https://github.com/emqx/ecpool.git"}},
        {mysql, ".*", {git, "https://github.com/mysql-otp/mysql-otp", {tag, "1.6.0"}}}
       ]}.
{relx, [{release, { file_Store, "0.1.0" },
         [file_Store,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
